.cover{
	background-image: url(coffee-801781_1280.jpg);
	height: 400px;
	background-position: center;
}
.star{
	background-image: url(star.jpg);
	background-position: bottom;
}
.dotor{
	background-image: url(dotor.jpg);
	background-position: right 0% top 10%;
}
.tullys{
	background-image: url(https://www.tullys.co.jp/cpn/tullyscard/images/card2020_img.jpg);
	background-position: right 0% bottom 0%;
}
